[Unit]
Description=leggi.es: check for updates
After=network-online.target

[Service]
Type=oneshot
User=netdeneb
ExecStart=/srv/netdeneb/scripts/auto-update.sh
